@font-face {
  font-family: 'otsk-interactions-20180816';
  src:  url('fonts/otsk-interactions-20180816.eot?7cxzti');
  src:  url('fonts/otsk-interactions-20180816.eot?7cxzti#iefix') format('embedded-opentype'),
    url('fonts/otsk-interactions-20180816.ttf?7cxzti') format('truetype'),
    url('fonts/otsk-interactions-20180816.woff?7cxzti') format('woff'),
    url('fonts/otsk-interactions-20180816.svg?7cxzti#otsk-interactions-20180816') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'otsk-interactions-20180816' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e92b";
}
.icon-arrow-up:before {
  content: "\e92c";
}
.icon-archive:before {
  content: "\e921";
}
.icon-button-new-project:before {
  content: "\e922";
}
.icon-edit:before {
  content: "\e923";
}
.icon-nav-data-factors:before {
  content: "\e924";
}
.icon-nav-manage:before {
  content: "\e925";
}
.icon-nav-objectives:before {
  content: "\e926";
}
.icon-nav-projects:before {
  content: "\e927";
}
.icon-nav-resources:before {
  content: "\e928";
}
.icon-zinc-global:before {
  content: "\e929";
}
.icon-zinc-local:before {
  content: "\e92a";
}
.icon-add-plus:before {
  content: "\e913";
}
.icon-button-approve:before {
  content: "\e914";
}
.icon-button-comment-off:before {
  content: "\e915";
}
.icon-button-comment-on:before {
  content: "\e916";
}
.icon-button-new-objective:before {
  content: "\e917";
}
.icon-button-rec-interaction:before {
  content: "\e918";
}
.icon-button-update-plan:before {
  content: "\e919";
}
.icon-empty-quarters:before {
  content: "\e91a";
}
.icon-filled-quarters:before {
  content: "\e91b";
}
.icon-objective:before {
  content: "\e91c";
}
.icon-read-more:before {
  content: "\e91d";
}
.icon-revert:before {
  content: "\e91e";
}
.icon-section-collapse:before {
  content: "\e91f";
}
.icon-section-expand:before {
  content: "\e920";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-delete:before {
  content: "\e901";
}
.icon-hcp-hospital:before {
  content: "\e902";
}
.icon-hcp-location:before {
  content: "\e903";
}
.icon-interaction-email:before {
  content: "\e904";
}
.icon-interaction-face:before {
  content: "\e905";
}
.icon-interaction-phone:before {
  content: "\e906";
}
.icon-checkbox-checked:before {
  content: "\e907";
}
.icon-checkbox-unchecked:before {
  content: "\e908";
}
.icon-consent-circle:before {
  content: "\e909";
}
.icon-consent-no:before {
  content: "\e90a";
}
.icon-consent-no-sign:before {
  content: "\e90b";
}
.icon-consent-yes:before {
  content: "\e90c";
}
.icon-consent-yes-sign:before {
  content: "\e90d";
}
.icon-nav-logout:before {
  content: "\e90e";
}
.icon-nav-dashboard:before {
  content: "\e90f";
}
.icon-nav-hcps:before {
  content: "\e910";
}
.icon-nav-record:before {
  content: "\e911";
}
.icon-nav-report:before {
  content: "\e912";
}
