// Nominal
$n-white: #fff;
$n-black: #000;
$n-blue: #5679bc;
$n-darkest: #676a6c;
$n-grey-darker: #a3a5a6;
$n-grey: #a4a6a7;
$n-grey-light: #e6e8eb;
$n-grey-lighter: #f3f3f4;
$n-yellow: #f9ffbc;
$n-green: #55bd79;
$n-red: #ba0d2b;
$n-rose: #ffe1e1;
$n-dark-rose: #ffcccc;
$n-violet: #64007d;
$n-orange: #ffaf19;
// Semantic
// statuses
$s-status-on-track: #32c864;
$s-status-slightly-behind: #ffd78c;
$s-status-major-issue: #ff3232;
$s-status-no-status: #d1d2d3;
// errors
$s-error-bg: $n-rose;
$s-error-text: $n-red;
$s-error-border: $n-grey-light;
// body
$s-border-light: $n-grey-light;
$s-body-bg: $n-grey-lighter;
$s-text-color: $n-darkest;
// controls
$s-btn-border: $n-blue;
$s-btn-text-color: $n-blue;
$s-btn-primary-bg: $n-blue;
$s-btn-primary-text-color: $n-white;
$s-placeholder-color: $n-grey;
$s-ctrl-bg: $n-white;
$s-ctrl-bg-disabled: $n-grey-lighter;
$s-ctrl-primary-bg: $n-white;
$s-ctrl-focused-bg: $n-yellow;
// checkboxes
$s-cb-box-bg: $n-white;
$s-cb-box-border: $n-blue;
$s-cb-box-active-bg: $n-blue;
$s-cb-box-active-border: $n-blue;
$s-cb-box-active-mark: $n-white;