$n-white: #fff;
$n-black: #000;
$n-blue: #5679bc;
$n-darkest: #676a6c;
$n-grey-darker: #a3a5a6;
$n-grey: #a4a6a7;
$n-grey-light: #e6e8eb;
$n-grey-lighter: #f3f3f4;
$n-yellow: #f9ffbc;

$s-border-light: $n-grey-light;
$s-body-bg: $n-grey-lighter;
$s-text-color: $n-darkest;

$s-btn-border: $n-blue;
$s-btn-text-color: $n-blue;
$s-btn-primary-bg: $n-blue;
$s-btn-primary-text-color: $n-white;
$s-placeholder-color: $n-grey;
$s-ctrl-bg: $n-white;
$s-ctrl-bg-disabled: $n-grey-lighter;
$s-ctrl-primary-bg: $n-white;
$s-ctrl-focused-bg: $n-yellow;

$s-icon-btn-bg: $n-white;
$s-icon-btn-text-color: $n-grey;
$s-icon-btn-border: $n-grey-light;
$s-icon-btn-active-bg: $n-blue;
$s-icon-btn-active-text-color: $n-white;
$s-icon-btn-disabled-bg: $n-grey-lighter;
$s-icon-btn-disabled-text-color: $n-grey-darker;
