$ctrl-height: 36px;
.btn {
  height: $ctrl-height;
  padding: 6px 10px;
  &,
  &:hover {
    border-color: $s-btn-border;
    color: $s-btn-text-color;
  }
  &:hover {
    background: $n-white;
  }
  &:not(.btn-block):not(.btn-default) {
    margin-right: 15px;
  }
  center &:not(.btn-block) {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  .fi-icon {
    position: relative;
    top: 6px;
    font-size: 24px;
    line-height: 10px;
  }
}

:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.input-group {
  .input-group-addon {
    background: transparent;
    border-color: $s-border-light;
    border-right: transparent;
    & + input {
      border-left: transparent;
    }
  }
  input + .input-group-btn {
    button {
      border-color: $s-border-light;
      background: $n-grey-lighter;
      color: $n-darkest;
    }
  }
}

// .btn-default:active {
//   background-color: inherit;
// }
.btn-primary {
  background: $s-btn-primary-bg;
  color: $s-btn-primary-text-color;
  .text-center > &:last-child {
    margin-right: 0;
  }
}

.btn {
  [class^="icon-"] {
    font-size: 22px;
    display: block;
    float: left;
    margin: -1px 5px 0 0;
  }
}

.form-control {
  height: $ctrl-height;
  padding: 6px 15px;
  border-color: $s-border-light;
  &,
  &[readonly].flatpickr-input:not([disabled]) {
    background: $s-ctrl-bg;
  }
  &--primary {
    background: $s-ctrl-primary-bg;
  }
  &:focus {
    background: $s-ctrl-focused-bg;
  }
  @include placeholder {
    color: $s-placeholder-color;
  }
  option[disabled] {
    color: $s-placeholder-color;
  }
  .has-error & {
    background: $s-error-bg;
    border-color: $s-error-border;
    color: $s-error-text;
    @include placeholder {
      color: $s-error-text;
    }
  }
}

.control-label {
  font-size: rem(11);
  font-weight: normal;
  color: $n-grey-darker;
}

.checkbox label,
label.checkbox,
label.checkbox-inline {
  position: relative;
  overflow: hidden;
  padding: 6px 6px 6px 35px;
}

.checkbox {
  margin-top: 0;
  background: $n-grey-lighter;
  border-radius: 4px;
  border: 1px solid $n-grey-light;
  label {
    position: relative;
    top: 2px;
    padding: 4px 6px 4px 35px;
  }
}

input[type="checkbox"] {
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 1035px;
    width: 14px;
    height: 14px;
    border: 1px solid $s-cb-box-border;
    border-radius: 3px;
  }
  position: relative;
  left: -1000px;
  &:checked {
    &:before {
      display: block;
      background: $s-cb-box-active-bg;
    }
    &:after {
      content: "\2714";
      font-size: 12px;
      position: absolute;
      left: 1037px;
      top: -3px;
      color: $s-cb-box-active-mark;
    }
  }
}
