.EPForm {
  &__step {
    padding-top: 30px;
    &__title {
      text-align: left;
    }
  }
  &__PlanItem {
    position: relative;
    &--removed {
      border-color: $n-red;
      background: $n-dark-rose;
    }
    &__heading {
      padding-top: 10px;
      &.panel-heading .badge {
        background-color: transparent;
        border: 1px solid $n-darkest;
        color: $n-darkest;
        font-size: rem(10);
        margin-top: -2px;
      }
    }
    &__body {
      margin-top: -10px;
      padding-top: 0;
    }
    &__title {
      color: $n-blue;
      font-size: rem(16);
      font-weight: normal;
    }
    &__removeBtn {
      font-size: rem(30);
      position: absolute;
      top: 8px;
      right: 5px;
      cursor: pointer;
    }
    &__collapseBtn {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -50px;
      width: 50px;
      height: 25px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      border: 1px solid $n-blue;
      border-bottom: 0;
      color: $n-blue;
      font-size: rem(26);
    }
    &__section {
      border-top: 1px solid $n-grey-light;
      padding: 10px 0;
      &__heading {
        color: $n-grey-darker;
        font-size: rem(11);
        margin: 0 0 4px 0;
      }
      &__body {
      }
    }
  }
  &__HCPItem {
    .title {
    }
    .status {
    }
    .objscount {
    }
    .affiliateGroups {
      float: right;
      margin: 2px 30px 0 0;
    }
    .tas {
      font-size: rem(14);
      color: $n-grey-darker;
      margin: 8px 0;
    }
    .EPForm__PlanItem {
    }
    .panel-heading .badge {
      &.status {
        &--new {
          background: $n-violet;
          border-color: $n-violet;
          color: $n-white;
        }
        &--updated {
          background: $n-orange;
          border-color: $n-orange;
          color: $n-white;
        }
      }
    }
  }
}

.EPFormObjective {
  &__heading {
    font-size: rem(20);
    color: $n-darkest;
    margin: 8px 0 10px 0;
  }
}

.EPFormDeliverables {
  &__quarter {
    display: block;
    width: 100%;
    clear: both;
    margin: 0 0 15px 0;
    overflow: hidden;
    justify-content: space-between;
  }
  &__quarterLabel {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $n-grey;
    color: $n-white;
  }
  &__deliverables {
    float: left;
    width: calc(100% - 41px);
  }
}

.EPFormDeliverable {
  &__deliverable {
    display: flex;
    width: 100%;
  }
  &__deliverableLabel {
    margin: 0 15px;
    border: 1px solid $n-darkest;
    color: $n-darkest;
    height: 100%;
    text-align: center;
    font-size: rem(12);
    min-width: 135px;
    > * {
      padding: 0 8px;
      line-height: 20px;
    }
    &__label {
      &--on_track {
      }
      &--slightly_behind {
      }
      &--major_issue {
      }
    }
    &__status {
      background: $n-darkest;
      color: $n-white;
    }
  }
  &__deliverableMain {
    flex: 1;
    width: 100%;
    &__description {
    }
    &__status {
    }
    &__removeBtn {
    }
    &__comments {
    }
  }
  &__addDeliverableBtn {
    clear: both;
    margin: 15px 0 15px 15px;
    width: 135px;
  }
}
