.EPForm {
  &__step {
    padding-top: 30px;
    &__title {
      text-align: left;
    }
  }
  &__PlanItem {
    position: relative;
    &--removed {
      border-color: $n-red;
      background: $n-dark-rose;
    }
    &__heading {
      padding-top: 10px;
      &.panel-heading .badge {
        background-color: transparent;
        border: 1px solid $n-darkest;
        color: $n-darkest;
        font-size: rem(10);
        margin-top: -2px;
      }
    }
    &__body {
      margin-top: -10px;
      padding-top: 0;
    }
    &__title {
      color: $n-blue;
      font-size: rem(16);
      font-weight: normal;
    }
    &__removeBtn {
      font-size: rem(30);
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
    }
    &__collapseBtn {
      position: absolute;
      bottom: 0;
      left: 50%;
      cursor: pointer;
      color: $n-blue;
      font-size: 40px;
      line-height: 20px;
      transform: translateX(-50%);
    }
    &__section {
      border-top: 1px solid $n-grey-light;
      padding: 10px 0;
      &__heading {
        color: $n-grey-darker;
        font-size: rem(11);
        margin: 0 0 4px 0;
      }
      &__body {}
    }
  }
  &__HCPItem {
    &__title {
      .tas {
        font-size: rem(14);
        color: $n-grey-darker;
        margin: 8px 0;
      }
      .badge {
        &.status {
          &--new {
            background: $n-violet;
            border-color: $n-violet;
            color: $n-white;
          }
          &--updated {
            background: $n-orange;
            border-color: $n-orange;
            color: $n-white;
          }
          &--commented {
            background: $n-blue;
            border-color: $n-blue;
            color: $n-white;
          }
        }
      }
      [class^="icon-"] {
        font-size: rem(26);
        position: relative;
        top: 4px;
        line-height: 10px;
        margin-left: -10px;
      }
      .institution_name,
      .location {
        float: right;
        color: $n-grey;
        font-size: rem(14);
      }
      .institution_name {}
      .location {
        margin: 0 35px 0 25px;
        &__city {}
        &__country {}
      }
    }
  }
  &__ProjectItem {
    .affiliateGroups {
      float: right;
      margin: 0 30px 0 0;
      padding: 0 0 15px 0;
    }
  }
}

.EPFormObjective {
  &__heading {
    font-size: rem(16);
    color: $n-darkest;
    margin: 8px 0 10px 0;
    [class^="icon-"] {
      font-size: rem(22);
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }
}

.EPFormDeliverables {
  &__quarter {
    display: block;
    width: 100%;
    clear: both;
    margin: 0 0 15px 0;
    overflow: hidden;
    justify-content: space-between;
  }
  &__quarterLabel {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $n-grey;
    color: $n-white;
    &--on_track {
      background-color: $s-status-on-track;
    }
    &--slightly_behind {
      background-color: $s-status-slightly-behind;
      color: $n-darkest;
    }
    &--major_issue {
      background-color: $s-status-major-issue;
    }
  }
  &__deliverables {
    float: left;
    width: calc(100% - 41px);
  }
}

.EPFormDeliverable {
  &__deliverable {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 10px;
  }
  &__deliverableLabel {
    margin: 0 15px;
    border: 1px solid $n-darkest;
    color: $n-darkest;
    height: 100%;
    text-align: center;
    font-size: rem(12);
    min-width: 135px;
    >* {
      padding: 0 8px;
      line-height: 20px;
    }
    &--on_track {
      border-color: $s-status-on-track;
    }
    &--slightly_behind {
      border-color: $s-status-slightly-behind;
    }
    &--major_issue {
      border-color: $s-status-major-issue;
    }
    &__label {}
    &__status {
      background: $n-darkest;
      color: $n-white;
      &--on_track {
        background-color: $s-status-on-track;
      }
      &--slightly_behind {
        background-color: $s-status-slightly-behind;
        color: $n-darkest;
      }
      &--major_issue {
        background-color: $s-status-major-issue;
      }
    }
  }
  &__deliverableMain {
    flex: 1;
    width: 100%;
    &__description {}
    &__status {
      &__btn {
        font-size: 10px;
        padding: 1px 2px;
        height: 18px;
        min-width: 100px;
        margin: 0 20px 0 0;
        background: transparent;
        border: 1px solid $s-status-no-status;
        color: $n-darkest;
        border-radius: 0;
        &--on_track {
          border-color: $s-status-on-track;
          &--active {
            background-color: $s-status-on-track !important;
            color: $n-white !important;
          }
        }
        &--slightly_behind {
          border-color: $s-status-slightly-behind;
          &--active {
            background-color: $s-status-slightly-behind !important;
            color: $n-black !important;
          }
        }
        &--major_issue {
          border-color: $s-status-major-issue;
          &--active {
            background-color: $s-status-major-issue !important;
            color: $n-white !important;
          }
        }
      }
    }
    &__removeBtn {}
    &__comments {}
  }
  &__addDeliverableBtn {
    clear: both;
    margin: 10px 0 15px 15px;
    width: 135px;
    height: 20px;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    border-radius: 0;
    background: transparent;
  }
}