
.HCPSelector {
  $s-text: $n-grey;
  $s-name-text: $n-blue;
  $s-consent-yes-text: $n-green;
  $s-consent-yes-border: $n-green;
  $s-consent-no-text: $n-red;
  $s-consent-no-border: $n-red;

  position: relative;

  &--error {
    .form-control--primary {
      background: $s-error-bg;
      border-color: $s-error-border;
      color: $s-error-text;
      @include placeholder {
        color: $s-error-text;
      }
    }
  }

  &__Search {
    position: relative;
    &__ShowAll {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 34px;
      padding: 0 15px;
      &:hover, &:active {
        text-decoration: none;
      }
    }
  }

  &__location {
    [class^="icon-"] {
      font-size: rem(28);
      position: relative;
      top: 4px;
      line-height: 10px;
    }
    &__city {
    }
    &__country {
    }
  }

  &__ListHCPs {

    &__container {
      padding: 0 15px 0 0;
      position: absolute;
      z-index: 100;
      top: 40px;
      pointer-events: none;
      width: calc(100% + 15px);

      @media (max-width: 768px) {
        top: 34px;
      }
    }

    &__content {
      position: relative;
      background: $n-white;
      margin: 0 0 15px 0;
      color: $n-darkest;
      height: 240px;
      border: 1px solid $n-grey-light;
      border-radius: 4px;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
      pointer-events: auto;
    }

    &__box {
      position: absolute;
      left: 0;
      top: 15px;
      width: 100%;
      height: calc(100% - 30px);
      overflow-y: scroll;
      border-radius: 4px;
    }

    &__list {
      width: auto;
    }
    &__HCP {
      display: flex;
      clear: both;
      cursor: pointer;
      border-bottom: 1px solid $n-grey-light;
      justify-content: flex-start;
      &:last-of-type {
        border-bottom: 0;
      }
      &:hover {
        background: $n-grey-light;
      }
      > * {
        display: flex;
        padding: 10px 15px;
        width: 25%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__name {
      }
      &__institution {
      }
      &__location {
      }
      &__tas {
      }
    }
  }

  &__SelectedHCP {
    position: relative;
    border: 1px solid;
    color: $s-text;
    &--consentYes {
      border-color: $s-consent-yes-border;
    }
    &--consentNo {
      border-color: $s-consent-no-border;
    }
    &__heading {
      margin: 5px 0 0 0;
    }
    &__remove {
      font-size: rem(30);
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
    &__consent {
      &__label {
        position: relative;
        top: rem(-5);
        font-size: rem(10);
        line-height: rem(20);
      }
      [class^="icon-"] {
        line-height: 10px;
      }
    }
    &__name {
      font-size: rem(16);
      color: $s-name-text;
    }
    &__consent {
      position: relative;
      top: 5px;
      font-size: rem(24);
      line-height: 10px;
      margin-left: 2px;
      &--yes {
        color: $s-consent-yes-text;
      }
      &--no {
        color: $s-consent-no-text;
      }
    }
    &__institution_name {
      padding-top: rem(20);
      [class^="icon-"] {
        font-size: rem(26);
        position: relative;
        top: 4px;
        line-height: 10px;
        margin-left: -10px;
      }
    }
    &__location {
      text-align: right;
      float: right;
      clear: right;
    }
    &__tas {
      text-align: right;
      float: right;
      clear: right;
    }
  }
}
