.SearchSelect {
  .css-1aya2g8, .css-2o5izw {
    min-height: 36px;
    height: 36px;
    background: $n-white;
    border: 1px solid $s-border-light;
  }
  .css-d8oujb {
    display: none;
  }
  .css-205izw {

  }
}
