.SearchSelect {
  .css-1aya2g8, .css-2o5izw, .css-162g8z5 {
    min-height: 36px;
    height: 36px;
    background: $n-white;
    border: 1px solid $s-border-light;
  }
  .css-d8oujb, .css-ln5n5c {
    display: none;
  }
  &.has-error {
    .css-1aya2g8 {
      background: $s-error-bg;
      border-color: $s-error-border;
      .css-1492t68 {
        color: $s-error-text;
      }
    }
  }
}
