$topbar-container-width: 1464px;
$nav-font-size: 13px;

.topbar {
  height: 50px;
  background: $n-white;
  border-bottom: 1px solid $n-grey-light;
  padding: 0 0 6px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
  }

  &__section {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
    &:last-of-type {
      margin: 0 0 0 auto;
    }
  }

  &__logo,
  &__nav {
    display: inline-block;
  }

  &__logo {
    width: 92px;
    height: 35px;
    background: url(../images/svg/logo.svg) center center no-repeat;
  }

  &__nav {
    margin-left: 30px;
  }

  &__logout {
    font-size: $nav-font-size;
    color: $n-black;
    font-weight: lighter;
    border: 0;
    &.btn {
      margin: 0 0 0 36px;
    }

    &:active,
    &:visited,
    &:focus,
    &:hover {
      text-decoration: none;
      color: $n-black;
    }
  }
}

.topbar-nav {
  &__item {
    font-size: $nav-font-size;
    color: $n-black;
    line-height: 13px;
    font-weight: lighter;
    padding-right: 4px;

    &:not(:first-child) {
      margin-left: 15px;
    }

    &:active,
    &:visited,
    &:focus,
    &:hover {
      text-decoration: none;
      color: $n-black;
    }

    &:hover,
    &--active {
      padding-bottom: 6px;
      border-bottom: 1px solid $n-black;
    }

    .fi-icon {
      position: relative;
      margin: 0 5px 0 0;
      top: 4px;
      font-size: 22px;
      font-weight: 200;
    }
  }
}

.topbar-user {
  &__name,
  &__ta {
    text-decoration: none;
    color: $n-black;
    font-weight: lighter;
    margin: 0;
  }

  &__name {
    font-size: rem(11);
    font-weight: bold;
    line-height: 23px;

    &:hover,
    &:focus,
    &:active {
      color: $n-black;
    }
  }

  &__ta {
    font-size: 11px;
    line-height: 11px;
    color: $n-darkest;
  }
}
